[package]
name = "compose-idents"
version = "0.0.2"
authors = ["Andrei Pashkin <andrew.pashkin@gmx.co.uk>"]
description = "Rust macro that makes possible to concatenate idents from multiple parts."
keywords = ["idents", "ident", "concat", "concatenate", "macro"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/AndreiPashkin/compose-idents"

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = { version = "1.0", features = ["full", "visit-mut"] }

[dev-dependencies]
trybuild = "1"
rstest = "~0.24.0"

[[example]]
name = "usage"
path = "examples/usage.rs"
